<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright  &copy; @DateTime.Now.Year - Book Store - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        @*  <a href="mailto:fatima.d@cgg.gov.in ">fatima.d@cgg.gov.in</a>
        <custom-email asp-for=""></custom-email>
        <custom-email my-email=""></custom-email>
        *@
        <custom-email my-email="fatima.d@cgg.gov.in"></custom-email>
    </div>
</footer>
