@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signinManager
@if (_signinManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @* Hello @User.Identity.Name *@
            Hello @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value)
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a></li>
            <li><a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Change Password</a></li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
         @* <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login">Login</a> *@
         <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@Context.Request.Path">Login</a>
        <a class="btn btn-primary" asp-controller="Account" asp-action="Signup">Register</a>
    </li>
    
}
