@model WebApplication1.Models.SigninModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="display-4"
        asp-fallback-test-property="line-height"
        asp-fallback-test-value="1.2"
        rel="stylesheet"
        integrity=""
        crossorigin="anonymous"> *@

    </environment>
</head>
<body>


<div class="container">
        <h4>Sign in</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="RememberMe" class="control-label"></label>
                        <input asp-for="RememberMe" class="form-control" />
                        <span asp-validation-for="RememberMe" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <img src="~/images/login.png" class="img-fluid" />
            </div>
        </div>

        <div>
            <p>Click <a asp-controller="Account" asp-action="SignUp">here</a> to signup</p>
        </div>
</div>

</body>
</html>
