@model IEnumerable<BookModelcs>
<h1>Hello from View Component</h1>
<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-4">
            <partial name="_bookThumbnail" model="book"></partial>
        </div>
        
    }
    
 </div>

