@{
    ViewData["Title"] = "Privacy Policy";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor accessor
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h3>@accessor.HttpContext.Session.GetString("MyKey")</h3>
